.hero-section {
  width: 100%;
  padding-top: 97px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2rem;
  align-items: center;
  background-color: #F1F3FF;

  .left-side {
    padding-left: 8.5rem;
    
    h1 {
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
    }
    p {
      width: 29rem;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      margin: 1rem 0;
    }
  }

  .right-side {
    img {
      width: 100%;
    }
  }
}